In [39]:
import pandas as pd
import numpy as np

In [40]:

df = pd.read_csv("knn.csv")

In [41]:
df.describe()

           Trial       Mean   Kurtosis  Gesture number
count  24.000000  24.000000  24.000000       24.000000
mean   12.500000   7.083333   7.333333        3.500000
std     7.071068   4.853655   4.259686        1.744557
min     1.000000   1.000000   2.000000        1.000000
25%     6.750000   2.750000   4.000000        2.000000
50%    12.500000   7.000000   7.000000        3.500000
75%    18.250000  10.250000  10.000000        5.000000
max    24.000000  16.000000  16.000000        6.000000

In [42]:

features = df[["Mean", "Kurtosis"]].to_numpy()
labels = df["Gesture number"].to_numpy()

In [43]:
class KNN:

    def __init__(self, k=5):
        self.k = k

    def predict(self, X_train, y_train, x_test):
        distances = np.linalg.norm(X_train - x_test, axis=1)
        nearest_neighbors = y_train[np.argsort(distances)[:self.k]]
        return np.bincount(nearest_neighbors).argmax()

In [44]:
def leave1out(X, y, k):
    correct = 0
    total = len(X)
    for i in range(total):
        X_train, y_train, x_test, y_test = np.delete(X, i, axis=0), np.delete(y, i, axis=0), X[i], y[i]
        y_pred = KNN(k).predict(X_train, y_train, x_test)
        correct += int(y_pred == y_test)
    return correct / total

In [45]:
k = 5

accuracy = leave1out(features, labels, k)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.6250